<%- include ('partials/header') %>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quidem sed eaque saepe porro voluptatum ad vero nostrum illum et, eligendi perferendis quos consequuntur, itaque consequatur sint quod animi. Dolore, inventore reprehenderit! Sit voluptate animi nemo tempore officia, facere velit possimus. Officia dicta odio ipsum deserunt nam quia dolorum, qui provident officiis obcaecati sapiente hic sed. Possimus molestiae recusandae earum rem distinctio consequatur, qui numquam! Saepe omnis aperiam eaque at iusto esse. Ad laboriosam mollitia consequatur, inventore, amet eos tempora iure eaque nemo excepturi voluptates iusto sed animi vitae sint impedit ea nisi exercitationem libero! Perspiciatis magnam culpa nisi temporibus?</p>

<%- include ('partials/footer') %>